<IfModule mod_rewrite.c>
RewriteEngine on
# Redirigir archivos estáticos (css, js, img) directamente
RewriteRule ^(css|js|img|fotos)/(.*)$ public/$1/$2 [L]
# Redirigir la página principal al sistema PHP
RewriteRule ^$ public/index.php [L]

RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]
</IfModule>